html
{
	background-color: #ddd;
	margin : 0;
	padding : 0;
	border : 0;
	height: 100%;
	font-family: SanSerif;
	font-size: 18px;
	min-height: 2500px;
	z-index: -100;
}

body
{
	background-color: #fff;
	margin:0 auto;
	margin-top: 0;
	margin-bottom: 0;
	padding : 0;
	border : 0;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	z-index: -90;
}

header
{
	/* Hier staat de h1 pagina titel in en het logo */
	height: 4vw;
	min-height: 80px;
	background-color: #701818;
	position: relative;
	margin: 0;
	padding : 0;
	border : 0;
}

nav
{
	margin: 0;
	padding : 0;
	border : 0;
	position: relative;
	display: inline-block;
	height: 2.5vw;
	min-height: 35px;
	width: 100%;
	max-width: 1500px;
	background: #333;
	z-index: 7;
}

nav ul
{
	margin: 0;
	padding : 0;
	border : 0;
	display: block;
	position: relative;
	list-style-type: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 35px;
	z-index: 8;
}

nav ul li
{
	margin: 0;
	margin-left: 0;
	padding : 0;
	border : 0;
	overflow: hidden;
	/* list-style-type: none; */
	/* display: inline-block; */
	float: left;
	width: 14.286%;
	min-width: 80px;
	height: 100%;
	min-height: 35px;
	text-align: center;
	z-index: 9;
}

nav li a
{
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 1.1em;	
	padding-top: 1.1vh;
	z-index: 10;     
	height: 100%;
	min-height: 25px;
	width: 100%;
	color: #fff;
	text-decoration: none;
	border-right: 2px solid #fff;
	cursor: pointer;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	box-sizing: border-box;
}

nav li a:hover
{
	display: inline-block;
	overflow: hidden;
	background-color: #111;
	position: relative;
	font-size: 1.1em;
	padding-top: 1.1vh;
	z-index: 10;     
	height: 100%;
	min-height: 25px;
	width: 100%;
	color: #fff;
	text-decoration: none;
	border-right: 2px solid #fff;
	cursor: pointer;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	box-sizing: border-box;
}

#currentpage
{
	height: 100%;
	border-bottom: 5px solid #930;
	box-sizing: border-box;
}

#mostright
{
	border-right: 0;
}

main
{
	border : 0;	
	position: relative;
	min-height: 2500px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: -4px;
	margin-bottom: 0;
}

aside
{
	
}

#introimg
{
	vertical-align: top;
	min-width: 100%;
	height: 10%;
	margin: -6px 0 0 0;
	z-index: 0;
	
}

#map
{
	vertical-align: top;
	width: 100%;
	height: 10%;
	margin: 80px 0 0 0;
	z-index: 0;
}

#introimg img
{
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 0;
}

#map img
{
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 0;
}

/* Hieronder alle onderdelen voor de opmaak vd links*/
#homelinks
{
	width: 90%;
	height: 80vh;
	min-width: 700px;
	min-height: 700px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

/* Homepage pagina links featured container */
#topleft, #topright, #bottomleft, #bottomright
{
	width: 45%;
	height: 46%;
	position: relative;
	margin-top: 3vh;
	z-index: 10;
}

#topleft, #bottomleft
{
	float: left;
	margin-left: 3%;
}

#topright, #bottomright
{
	float: right;
	margin-right: 3%;
}

#homelinks header
{
	width: 90%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 1.6vh;
	z-index: 15;
	background-color: #fff;
}

#homelinks img
{
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 0;
}

#homelinks p
{
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	margin-top: 18%;
}

/* Hier onder alle formaten headers */
h1
{
	color: black;
	text-align: left;
	font-size: 1.8em;
}

h2
{
	color: black;
	text-align: left;
	font-size: 1.6em;
}

h3
{
	color: black;
	text-align: left;
	font-size: 1.4em;
}

h4
{
	color: black;
	text-align: left;
	font-size: 1.3em;
}

h5
{
	color: black;
	text-align: left;
	font-size: 1.2em;
}

h6
{
	color: black;
	text-align: left;
	font-size: 1.1em;
}

#headerh1
{
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	display: block;
	vertical-align: middle;
	font-size: 2em;
	color: #fff;
}

#headerimg
{
    height: 3vw;
	min-height: 130px;
	margin-top: -35px;
	margin-left: -10px;
	position: absolute;
	left: 1.5%;
	top: 14%;
}

.vanish
{
	display: none;
}

.center
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 0px solid #fff;
}

p
{
	color: black;
	text-align: left;
}

em
{
	color: black;
	text-align: left;
	white-space: pre-line;	
}

strong
{
	color: black;
	white-space: pre-line;
	text-align: left;	
}
