/* ============================================================================================================================================*/
/* ======================================================= Algemene layout alle pagina's ======================================================*/
/* ============================================================================================================================================*/
html
{
	background-color: #ddd;
	margin : 0;
	padding : 0;
	border : 0;
	font-family: sans-serif;
	font-size: 18px;
	z-index: -100;
}
	
body
{
	background-color: #fff;
	margin:0 auto;
	margin-top: 0;
	margin-bottom: 0;
	padding : 0;
	border : 0;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	z-index: -90;
}

main
{
	border : 0;	
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: -4px;
	margin-bottom: 0;
}


/* Alles in de header */
#headerh1
{
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	display: block;
	vertical-align: middle;
	font-size: 2em;
	color: #fff;
}

#headerimg
{
    height: 3vw;
	min-height: 130px;
	margin-top: -35px;
	margin-left: -10px;
	position: absolute;
	left: 1.5%;
	top: 14%;
}

header
{
	/* Hier staat de h1 pagina titel in en het logo */
	height: 4vw;
	min-height: 80px;
	background-color: #005578;
	position: relative;
	margin: 0;
	padding : 0;
	border : 0;
}
/* Einde header */

/* De navigatie balk */
nav
{
	margin: 0;
	padding : 0;
	border : 0;
	position: relative;
	display: inline-block;
	height: 2.5vw;
	min-height: 35px;
	width: 100%;
	max-width: 1500px;
	background: #333;
	z-index: 7;
}

nav ul
{
	margin: 0;
	padding : 0;
	border : 0;
	display: block;
	position: relative;
	list-style-type: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 35px;
	z-index: 8;
}

nav ul li
{
	margin: 0;
	margin-left: 0;
	padding : 0;
	border : 0;
	overflow: hidden;
	float: left;
	width: 14.286%;
	min-width: 80px;
	height: 100%;
	min-height: 35px;
	text-align: center;
	z-index: 9;
}

nav li a
{
	display: block;
	overflow: hidden;
	position: relative;
	font-size: 1em;	
	padding-top: 9%;
	z-index: 10;     
	height: 100%;
	min-height: 25px;
	width: 100%;
	color: #fff;
	text-decoration: none;
	border-right: 2px solid #fff;
	cursor: pointer;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	box-sizing: border-box;
}

nav li a:hover
{
	background-color: #111;
}

#currentpage
{
	height: 100%;
	border-bottom: 5px solid #930;
	box-sizing: border-box;
}

#mostright
{
	border-right: 0;
}
/* Einde navigatie balk */


/* De footer */
footer
{
	width: 95%;
	background: #333;
	height: 5vh;
	height: 45px;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

footer a img
{
	height: 80%;
	float: left;
	margin-left: 3%;
	padding-top: 0.5%;
}

#footerfirst
{
	margin-left: 5%;
}

footer section a
{ 
	color: #fff;
	text-decoration: none;
	float: right;
	margin-top: 12px;
}

footer section a:first-child
{ 
	float: left;
}

footer section
{
	height: 100%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}
/* einde footer */


/* Hier onder alle formaten titels */
h1
{
	color: black;
	text-align: left;
	font-size: 1.8em;
}

h2
{
	color: black;
	text-align: left;
	font-size: 1.6em;
}

h3
{
	color: black;
	text-align: left;
	font-size: 1.4em;
}

h4
{
	color: black;
	text-align: left;
	font-size: 1.3em;
}

h5
{
	color: black;
	text-align: left;
	font-size: 1.2em;
}

h6
{
	color: black;
	text-align: left;
	font-size: 1.1em;
}
/* Einde titels */


/* Algemene opmaak */
.vanish
{
	display: none;
}

.center
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 0px solid #fff;
}

p
{
	color: black;
	text-align: left;
}

em
{
	color: black;
	text-align: left;
	white-space: pre-line;	
}

strong
{
	color: black;
	white-space: pre-line;
	text-align: left;	
}
/* Einde algemene opmaak */



/* ============================================================================================================================================*/
/* ======================================================= Specifieke layout per pagina =======================================================*/
/* ============================================================================================================================================*/


/* -------------------------------------------- CSS voor homepage ------------------------------------------------*/
#introimg
{
	vertical-align: top;
	min-width: 100%;
	height: 10%;
	margin: -6px 0 0 0;
	z-index: 0;
	
}

#map
{
	vertical-align: top;
	width: 100%;
	height: 10%;
	margin: 80px 0 0 0;
	z-index: 0;
}

#introimg img
{
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 0;
}

#map img
{
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 0;
}

/* Hieronder alle onderdelen voor de opmaak vd links*/
#homelinks
{
	width: 90%;
	height: 50vw;
	min-width: 700px;
	min-height: 900px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

/* Homepage pagina links featured container */
#topleft, #topright, #bottomleft, #bottomright
{
	width: 45%;
	height: 45%;
	min-height: 340px;
	min-width: 300px;
	position: relative;
	margin-top: 1vw;
	z-index: 10;
}

#topleft, #bottomleft
{
	float: left;
	margin-left: 1.5%;
}

#topright, #bottomright
{
	float: right;
	margin-right: 1.5%;
}

#homelinks img
{
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 0;
}

#homelinks p
{
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 1em;
}

#homelinks h3
{
	text-align: center;
	margin-top: 6px;
	margin-bottom: 0px;
	font-size: 1em;
}

#homelinks section:hover
{
	background-color: #eee;
}
/* ----------------------------------------------- Home pagina einde --------------------------------------------------*/


/* -------------------------------------------- CSS voor detail pagina ------------------------------------------------*/
/* ----------------------------------------------- Detail pagina einde ------------------------------------------------*/


/* -------------------------------------------- CSS voor contact pagina ------------------------------------------------*/
/* ----------------------------------------------- Contact pagina einde ------------------------------------------------*/


/* -------------------------------------------- CSS voor about pagina ------------------------------------------------*/
/* ----------------------------------------------- About pagina einde ------------------------------------------------*/


/* -------------------------------------------- CSS voor bronnen pagina ------------------------------------------------*/
/* ----------------------------------------------- Bronnen pagina einde ------------------------------------------------*/