html
{
	background-color: #fff;
	margin : 0;
	padding : 0;
	border : 0;
	height: 100%;
	font-family: verdana;
	font-size: 40px;
}

body
{
	background-color: #fff;
	margin:0 auto;
	margin-top: 0;
	margin-bottom: 0;
	padding : 0;
	border : 0;
	height: 100%;
	width: 1500px;
}

header
{
	/* Hier staat de h1 pagina titel in en het logo */
	height: 15vw;
	background-color: #701818;
	position: relative;
	margin: 0;
	padding : 0;
	border : 0;
}

nav
{
	position: relative;
	display: block;
	height: 6%;
	width: 100%;
	background: #333;
}

nav ul
{
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

nav ul li
{
	margin-top: 0px;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	width: 15%;
	height: 100%;
	text-align: center;
}

nav li a
{
	display: inline-block;     
	position: relative;
	font-size: 2.5vw;	
	padding-top: 2vh;
	z-index: 1;     
	height: 64%;
	width: 100%;
	color: #fff;
	text-decoration: none;
	border-right: 2px solid #fff;
	cursor: pointer;
}

nav li a:hover
{
	display: inline-block;
	background-color: #111;
	position: relative;
	font-size: 2.5vw;	
	padding-top: 2vh;
	z-index: 1;     
	height: 64%;
	width: 100%;
	color: #fff;
	text-decoration: none;
	border-right: 2px solid #fff;
	cursor: pointer;
}

main
{
	border : 0;	
	position: relative;
	min-height: 85%;
	padding-left: 50px;
	padding-right: 50px;
}

aside
{
	padding-top: 20px;
}

table
{
	border: 1px solid black;
	margin-top: 40px;
	width: 60%;
	border-collapse: collapse;
}

th
{
	border-bottom: 2px solid black;
	padding: 10px;
	text-align: center;
}

td
{
	border-bottom: 1px solid black;
	padding: 10px;
	text-align: left;
}

.tr1:hover 
{
	/* verzorgd de kleurverandering van de onderste tabel, maar niet de bovenste met titels */
	background-color: #f5f5f5
}

#html5img 
{
    height: 200px;
    width: 200px;
	position: absolute;
	right: 5%;
	bottom: 5%;
}

/* Hier onder alle formaten headers */

h1
{
	color: black;
	text-align: left;
	font-family: verdana;
	font-size: 3em;
}

h2
{
	color: black;
	text-align: left;
	font-family: verdana;
	font-size: 2em;
}

h3
{
	color: black;
	text-align: left;
	font-family: verdana;
	font-size: 1.6em;
}

h4
{
	color: black;
	text-align: left;
	font-family: verdana;
	font-size: 1.4em;
}

h5
{
	color: black;
	text-align: left;
	font-family: verdana;
	font-size: 1.2em;
}

h6
{
	color: black;
	text-align: left;
	font-family: verdana;
	font-size: 1.1em;
}

#headerh1
{
	position: relative;
	text-align: center;
	padding-top: 1vw;
	margin: 0;
	font-size: 2em;
}

#headerimg
{
    height: 9vw;
    width: 13.18vw;
	position: absolute;
	left: 2vw;
	top: 2vw;
}

#links
{
	/* Dit zijn de links in de footer, pre-line verzorgd de nieuwe lijnen per link */
	white-space: pre-line;
	position: absolute;
	bottom: 5%;
}

#currentpage
{
	color: #fff;
	background-color: #930;
}

p
{
	color: black;
	text-align: left;
	font-family: verdana;
	font-size: 1em;
}

em
{
	color: black;
	text-align: left;
	font-family: verdana;
	font-size: 1em;	
}

strong
{
	color: black;
	text-align: left;
	font-family: verdana;
	font-size: 1em;	
}