/* ============================================================================================================================================*/
/* ======================================================= Algemene layout alle pagina's ======================================================*/
/* ============================================================================================================================================*/
html
{
	font-size: 12px;
	min-width: 350px;
}

/* Alles in de header */
header
{
	height: 70px;
}

#headerimg
{
    height: 0%;
	min-height: 85px;
	margin-top: -0.8%;
	margin-left: 0.5%;
	left:0%;
	top: 0%;
}

/* Einde header */

/* De navigatie balk */
body>nav
{
	height: 25px;
}

body>nav ul
{
	min-height: 25px;
}

body>nav ul li
{
	min-width: 40px;
	min-height: 25px;
}

body>nav li a
{
	font-size: 0.8em;	
	padding-top: 8px;
	min-height: 25px;
	border-left: 1px solid #fff;
}

body>nav li a:hover
{
	background-color: #111;
}

#currentpage
{
	border-bottom: 4px solid #930;
}

#mostleft_currentpage
{
	border-bottom: 4px solid #930;
}
/* Einde navigatie balk */


/* De footer */
body>footer
{
	height: 35px;
	margin-top: 50px;
}

body>footer a img
{
	height: 50%;
	margin-left: 3%;
	padding-top: 3%;
}

#footerfirst
{
	margin-left: 3%;
}

body>footer>nav a
{ 
	margin-top: 12px;
}

#currentpage_footer
{
	border-bottom: 3px solid #930;
}
/* einde footer */

/* Algemene opmaak */
hr
{
	margin-top: 30px;
	margin-bottom: 30px;
}

p
{
	color: black;
	text-align: left;
	font-size: 1em;
}

em
{
	color: black;
	text-align: left;
	white-space: pre-line;	
}

strong
{
	color: black;
	white-space: pre-line;
	text-align: left;	
}
/* Einde algemene opmaak */



/* ============================================================================================================================================*/
/* ======================================================= Specifieke layout per pagina =======================================================*/
/* ============================================================================================================================================*/


/* -------------------------------------------- CSS voor homepage ------------------------------------------------*/
#introimg
{
	vertical-align: top;
	min-width: 100%;
	height: 10%;
	margin: -6px 0 0 0;
	z-index: 0;
}

#map
{
	vertical-align: top;
	width: 100%;
	height: 10%;
	margin: 40px 0 0 0;
	z-index: 0;
}

#map>h2
{
	text-align: center;
	margin-bottom: 10px;
	margin-top: -25px;
	font-size: 1.6em;
}

#introimg img
{
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 0;
}

#map img
{
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 0;
}

/* Hieronder alle onderdelen voor de opmaak vd links*/
#homelinks
{
	width: 90%;
	min-width: 0;
	height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	
}

#homelinks>h2
{
	text-align: center;
	margin-bottom: 0;
	font-size: 1.6em;
}

/* Homepage pagina links featured container */
#topleft, #topright, #bottomleft, #bottomright
{
	margin: 0;
	width: 100%;
	height: 30%;
	min-height: 0px;
	min-width: 0px;
	margin-top: 20px;
	float: none;
	
}

#homelinks *
{
	text-decoration: none;
}
/* ----------------------------------------------- Home pagina einde --------------------------------------------------*/


/* -------------------------------------------- CSS voor detail pagina ------------------------------------------------*/
.contentbox
{
	width: 93%;
	margin-top: 30px;
	overflow: auto;
}

.contentbox>h2
{
	text-align: left;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 100%;
	clear: none;
	float: left;
	font-size: 1.4em;
}

.contentbox>aside
{
	width: 100%;
}

.contentbox>aside>img:first-child
{
	margin: 0;
}

#contenthoreca>h2, #contenttedoen>h2, #contentsport>h2, #contentbereikbaar>h2
{
	text-align: center;
	margin-bottom: -30px;
	margin-top: 20px;
}

.contentbox>p
{
	width: 100%;
	min-width: 0px;
	clear: none;
}

.contentbox a
{
	line-height: 20px;
	padding: 0 5px 0 5px;
	height: 20px;
	margin-top: 10px;
}

.contentbox.reversed
{
	display: flex;
    flex-direction: column;
}

.contentbox.reversed>h2
{
	order: 1;
}

.contentbox.reversed>p
{
	order: 2;
}

.contentbox.reversed>aside
{
	float: none;
	margin-right: 0%;
	order: 3;
}

#contenthoreca table
{
	width: 95%;
	min-width: 0px;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 40px;
}

#contenthoreca table th
{
	padding-bottom: 10px;
}

#contenthoreca table td:first-child
{
	width: 80%;
}

#contenthoreca table a
{
	margin-top: 5px;
	height: 15px;
	line-height: 15px;
}

/* ----------------------------------------------- Detail pagina einde ------------------------------------------------*/


/* -------------------------------------------- CSS voor contact pagina ------------------------------------------------*/
#contactform>h2
{
	padding-top: 40px;
}

form
{
	margin-top: 40px;
	width: 95%;
}

#sendbutton
{
	width: 30%;
	height: 45px;
	margin-top: 20px;
	margin-left: 35%;
	border: 4px solid #930;
}

/* de radio buttons */
.radioin span>label
{
	cursor: pointer;
	margin-left: 25px;
}
/* einde radio buttons */

/* de invoervelden */
form>label .inputsmall
{
	width: 60%;
}

form>label .inputnormal
{
	width: 60%;
}

form>label .inputlarge
{
	width: 60%;
}

#onderwerpbox
{
	margin-top: 40px;
}

#contactsucces
{
	width: 100%;
	height: 800px;
}

#contactsucces>span
{
	width: 58%;
	height: 15%;
	margin-left: 20%;
	padding-top: 4%;
	padding-left: 10px;
	padding-right: 10px;
}

/* einde invoervelden */

/* ----------------------------------------------- Contact pagina einde ------------------------------------------------*/


/* -------------------------------------------- CSS voor about pagina ------------------------------------------------*/
#aboutpage>article>h2
{
	padding-top: 40px;
}

#aboutpage>article
{
	width: 90%;
}

#aboutpage>article>section
{
	position: relative;
	margin-left: 0;
	margin-right: auto;
	margin-top: 30px;
}

#aboutpage>article>section>h3, #aboutpage>article>section>p
{
	clear: right;
}

#aboutpage>article>section>aside
{
	margin: -10px;
}

#aboutpage h4
{
	margin-top: 20px;
	margin-bottom: 2px;
	font-size: 1.2em;
}

.aboutimg
{
	width: 100%;
}

.aboutimg1
{
	width: 60%;
}

#aboutpage>article nav a
{
	margin-top: 30px;
	line-height: 20px;
	padding: 0 10px 0 10px;
	height: 20px;
}
/* ----------------------------------------------- About pagina einde ------------------------------------------------*/


/* -------------------------------------------- CSS voor bronnen pagina ------------------------------------------------*/
#goback
{
	margin-top: 30px;
	line-height: 20px;
	padding: 0 10px 0 10px;
	height: 20px;
}

#bronnenpage>article>h2
{
	text-align: center;
	margin-top: 0px;
	padding-top: 30px;
}

#bronnenpage>article
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#bronnenpage>article>section
{
	position: relative;
	margin-left: 10%;
	margin-right: auto;
	margin-top: 50px;
}

#bronnenpage table, #bronnenpage table td, #bronnenpage table th
{
	border: 1px solid #000;
}

#bronnenpage table th
{
	background-color: #ccc;
}

#bronnenpage table
{
	margin-top: 80px;
	margin-bottom: 20%;
	width: 100%;
}
/* ----------------------------------------------- Bronnen pagina einde ------------------------------------------------*/